<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="../style/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script type="text/javascript" src="../javascript/main.js" charset="utf-8"></script>
</head>

<body class="body">

<header>
  <div>
    <md-card card-media="background-color:Black;"> 
      <md-card-title  layout="row" layout-align="end center" background-color:"Black">
        <img src="../yourLogoHere.png" class="logo">
        <a href="tel: 248-390-0738" class="phone">(248) 390-0738</a>
        <button onclick="unhide(this, 'contractor')" class="contact">Contact Us</button>
      </md-card-title>
    </md-card>
  </div>
  <div>
    <md-card id="contractor" name="contractor" card-media="background-color: #999999;" class="hidden"> 
      <md-card-title>
        <form name="contactContract">
          <input type="text" ng-model="name" placeholder="Name" class="hiddenForm"><br><br>
          <input type="email" ng-model="email" placeholder="Email" class="hiddenForm"><br><br>
          <input type="tel" ng-model="phone" placeholder="Phone Number" class="hiddenForm"><br><br>
          <input type="text" ng-model="serviceOffered" placeholder="Service Offered" class="hiddenForm">
        </form>
      </md-card-title>
    </md-card>
  </div>
</header>

<header>
<div id="navbar" class="sticky">
  <a href="Sale.html">SELL A HOUSE</a>
  <a href="Buy.html">BUY A HOUSE</a>
  <a href="Rental.html">TURNKEY RENTAL</a>
  <a href="Home.html"> HOME</a>
  <a href="Lenders.html">LENDERS</a>
  <a class="active" href="About.html">ABOUT</a>
</div>
</header>

<div style=" padding-top: 60px;">
  <h3>About us</h3>
  <p></p>
</div>

</body>
</html>
