<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

  <body class="body">

  <header>
	<div class="header">
		<a class="active" href="Home.html"><img src="../yourLogoHere.png" class="logo"></a>
		<h1 class="headerText">Andrew's Dream LLC.</h1>
		</div>
</header>

<div id="navbar" class="sticky">
  <a class="active" href="Home.html"> HOME</a>
  <a href="Sale.html">SELL A HOUSE</a>
  <a href="Buy.html">BUY A HOUSE</a>
  <a href="Rental.html">TURNKEY RENTAL</a>
  <a href="Lenders.html">LENDERS</a>
  <a href="Contractors.html">CONTRACTORS</a>
</div>

<table id="t02">
    <tbody>
        <tr>
            <td class="top15"></td>
            
            </tr>
        <tr>
            <td class="top15">
            <td class="top50">
                <h2>We Are Andrew's Dream</h2>
                <br>
                <iframe width="100%" height="400px" src="https://www.youtube.com/embed/u0lqcBgUid8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <p>
                    My name is Steven Ehrman, I run a real estate business. This business has a website. This website has lots of sample text. Look at all this
                    sample text. Whoa! Whoa!
                    Bee Movie Script - Dialogue Transcript


                    According to all known laws
                    of aviation,


                    there is no way a bee
                    should be able to fly.


                    Its wings are too small to get
                    its fat little body off the ground.


                    The bee, of course, flies anyway


                    because bees don't care
                    what humans think is impossible.


                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.


                    Ooh, black and yellow!
                    Let's shake it up a little.


                    Barry! Breakfast is ready!


                    Ooming!


                    Hang on a second.


                    Hello?


                    - Barry?
                    - Adam?


                    - Oan you believe this is happening?
                    - I can't. I'll pick you up.


                    Looking sharp.


                    Use the stairs. Your father
                    paid good money for those.


                    Sorry. I'm excited.


                    Here's the graduate.
                    We're very proud of you, son.


                    A perfect report card, all B's.


                    Very proud.


                    Ma! I got a thing going here.


                    - You got lint on your fuzz.
                    - Ow! That's me!


                    - Wave to us! We'll be in row 118,000.
                    - Bye!


                    Barry, I told you,
                    stop flying in the house!


                    - Hey, Adam.
                    - Hey, Barry.


                    - Is that fuzz gel?
                    - A little. Special day, graduation.


                    Never thought I'd make it.


                    Three days grade school,
                    three days high school.


                    Those were awkward.


                    Three days college. I'm glad I took
                    a day and hitchhiked around the hive.


                    You did come back different.


                    - Hi, Barry.
                    - Artie, growing a mustache? Looks good.


                    - Hear about Frankie?
                    - Yeah.


                    - You going to the funeral?
                    - No, I'm not going.


                    Everybody knows,
                    sting someone, you die.


                    Don't waste it on a squirrel.
                    Such a hothead.


                    I guess he could have
                    just gotten out of the way.


                    I love this incorporating
                    an amusement park into our day.


                    That's why we don't need vacations.


                    Boy, quite a bit of pomp...
                    under the circumstances.


                    - Well, Adam, today we are men.
                    - We are!


                    - Bee-men.
                    - Amen!


                    Hallelujah!


                    Students, faculty, distinguished bees,


                    please welcome Dean Buzzwell.


                    Welcome, New Hive Oity
                    graduating class of...


                    ...9:15.


                    That concludes our ceremonies.


                    And begins your career
                    at Honex Industries!


                    Will we pick ourjob today?


                    I heard it's just orientation.


                    Heads up! Here we go.


                    Keep your hands and antennas
                    inside the tram at all times.


                    - Wonder what it'll be like?
                    - A little scary.


                    Welcome to Honex,
                    a division of Honesco


                    and a part of the Hexagon Group.


                    This is it!


                    Wow.


                    Wow.


                    We know that you, as a bee,
                    have worked your whole life


                    to get to the point where you
                    can work for your whole life.
                </p>
            </td>

            <td class="top35" rowspan="1">
                <md-card card-media="background-color:Black;">
                    <md-card-title layout="row" layout-align="end center" background-color:"Black">
                        <a href="tel: 248-390-0738" class="phone">(248) 390-0738</a>
                        <button onclick="unhide(this, 'contractor')" class="contact">Contact Us</button>
                    </md-card-title>
                </md-card>
                <md-card id="contractor" name="contractor" card-media="background-color: #999999;" class="hidden">
                    <md-card-title>
                        <form name="contactContract">
                            <input type="text" ng-model="name" placeholder="Name" class="hiddenForm"><br><br>
                            <input type="email" ng-model="email" placeholder="Email" class="hiddenForm"><br><br>
                            <input type="tel" ng-model="phone" placeholder="Phone Number" class="hiddenForm"><br><br>
                            <input type="text" ng-model="serviceOffered" placeholder="Service Offered" class="hiddenForm">
                        </form>
                    </md-card-title>
                </md-card>
            </td>

        </tr>
        </tbody>
    </table>



</body>
</html>
